{{ define "main" }}
<div class="hero-section fade-in">
    <div class="hero-content">
        <div class="logo-circle glow hero-logo">{{ .Site.Params.teamNumber }}</div>
        <h1 class="hero-title">{{ .Site.Title }}</h1>
    </div>
</div>

<h2 class="section-heading">Training Sections</h2>

<div class="info-section-grid">
    <div class="info-box">
        <h3>1. Pre-Programming</h3>
        <ul>
            <li><a href="https://docs.wpilib.org/en/stable/docs/zero-to-robot/step-2/wpilib-setup.html">Installing Tools & VS Code</a></li>
            <li><a href="https://www.codecademy.com/learn/learn-java">Learn Java</a></li>
        </ul>
    </div>

    <div class="info-box">
        <h3>2. WPILib Essentials</h3>
        <ul>
            <li><a href="/motors/">Basic Motor Control</a></li>
            <li><a href="/joysticks/">User Input</a></li>
            <li><a href="/sensors/">Sensors</a></li>
            <li><a href="/telemetry/">Telemetry / Logging</a></li>
        </ul>
    </div>

    <div class="info-box">
        <h3>3. Basics</h3>
        <ul>
            <li><a href="/command-based/">Command-Based Programming</a></li>
            <li><a href="/pid-basics/">Basic PID Control</a></li>
            <li><a href="/standards/">Coding Standards / Conventions</a></li>
            <li><a href="/geometry/">Geometry in FRC</a></li>
        </ul>
    </div>

    <div class="info-box">
        <h3>4. Intermediate</h3>
        <ul>
            <li><a href="/abstract-io/">Subsystem IO Abstraction</a></li>
            <li><a href="/pathfinding/">Pathplanning and Pathfinding Tools</a></li>
            <li><a href="/pid-tuning/">Tuning PID</a></li>
            <li><a href="/vendors/">Making Use of Vendor Features</a></li>
        </ul>
    </div>

    <div class="info-box">
        <h3>5. Advanced</h3>
        <ul>
            <li><a href="/sim/">Simulation Logic [TO BE BUILT]</a></li>
            <li><a href="/vision-pose/">Vision - Pose Estimation</a></li>
            <li><a href="/vision-tracking/">Vision - Target / Game Piece Tracking with Limelight [TO BE BUILT]</a></li>
            <li><a href="/vision/">Setting Up and Tuning Vision [TO BE BUILT]</a></li>
            <li><a href="/swerve/">Swerve Drive</a></li>
        </ul>
    </div>
</div>
<h2 class="challenges-heading">Challenges</h2>
<div class="info-section-grid">
    <div class="info-box">
        <p>These are meant to test your understanding of each section in a unique way - try to complete everything here. Working on a project can help you learn a lot faster than just reading!</p>
        <details>
            <summary>Project 1: Command-Based Lights (sections 1 to 3.1)</summary>
            <h4>Project details:</h4>
            <ul>
                <li>Your goal is to create a traffic-light system in robot code!</li>
                <li>The lights will be <code>DigitalOutputs</code>, each representing a different color (red, yellow, green).</li>
                <li>You should have a LightSubsystem (or similarly named subsystem) and should use command compositions when commands are too short to get a dedicated file.</li>
                <li>You should have sequences to automate a sequence of lights (for example, green for 10s, yellow for 3s, red for 16s)</li>
                <li>You should also add the ability to manually set the lights - make sure that you can't confuse our imaginary drivers by having two lights on at once!</li>
                <li>Should be controllable using either an xbox controller or a generic joystick, depending on what is available to you</li>
                <li>Keep your code readable, well-documented, and have ample logging</li>
            </ul>
            <h4>Extra challenge:</h4>
            <ul>
                <li>Add another layer of complexity by having car sensors!</li>
                <li>Create a second subsystem with <code>DigitalInputs</code> that can detect the weight of cars waiting at the lights.</li>
                <li>You should also try to include some way to check how long its been since a car last went over the sensor - are there no cars coming?</li>
                <li>Do whatever with this extra input! For example, you can make it so that if a car is waiting at a red light and no cars have passed through the opposing green light in a while, it advances faster to get the waiting cars moving earlier.</li>
            </ul>
        </details>
    </div>

</div>
{{ end }}
