name: Preview

on:
  pull_request:
    types:
      - "opened"
      - "reopened"
      - "synchronize"
      - "closed"

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Deploy
        uses: rossjrw/pr-preview-action@v1
        with:
          preview-branch: main
